__pycache__
.env
settings.json
utils/__pycache__
voicemeeter-test.py
build
gui.spec
*.spec
openai_config.json
logs
dist
nsi_build
nsi_inputfiles
tasks.json
secrets.key
secrets.dat
secrets.json
settings.json
telebot.exe.spec
kirwe.py